.TimelineWrapper {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 10px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 240, 240);
    height: 100%;
    position: fixed;
    right: 0;
}
.Timeline {
    display: flex;
    flex-direction: column;
    align-items: right;
    color: rgba(92, 92, 92, 0.61);
    font-family: "DM Sans";
}
.Timeline h3 {
    margin: 3px 0;
}

ul {
    list-style: none;
}
.Bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 30px;
    border: 2px solid rgb(200, 201, 200);
}
li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.Count {
    color: rgb(247, 108, 108);
    font-family: "DM Sans";
}
