@import "variables.scss";

.WelcomeWrapper {
    height: 100vh;
    padding: 3.5% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    // background-color: $bcg-primary-l;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .Welcome {
        width: 100%;
        padding-right: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: beige;
        cursor: context-menu;

        .Greeting {
            margin-top: -10px;
            font-family: $sa-l;
            color: $fc-secondary-l;
            font-size: 14px;
            align-self: flex-start;
            text-align: left;
        }
        .Heading {
            margin-top: 7%;
            display: flex;
            // align-items: flex-end;
            // justify-content: flex-end;

            .WelcomeMessage {
                font-family: $po;
                h1 {
                    line-height: 37px;
                    color: $fc-secondary-l;

                    span {
                        // color: #1869ff;
                        font-weight: 600;
                    }
                }
                h4 {
                    margin-top: 15px;
                    font-size: 12px;
                    font-weight: 500;
                    color: rgb(179, 183, 184);
                }
            }
            .ProfilePic {
                height: 180px;
                width: 180px;
                border-radius: 50%;
                border: 1px solid rgb(229, 226, 226);
                overflow: hidden;

                img {
                    width: 110%;
                }
            }
        }
        .Line {
            margin-top: 5%;
        }
        .CardsContainer {
            margin-top: 30px;

            p.Instructions {
                margin-top: 25px;
                font-family: $gt;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
            }
        }
        .AddProject {
            margin-top: 15px;
            font-family: $gt;
            font-weight: 500;
            cursor: pointer;
            border-radius: 5px;
            background: white;
            transition: background 0.2s linear;
            outline: none;
            padding: 4px 10px;
            width: 145px;
            border: 1.5px solid #28292a;
            height: 32px;
            box-shadow: 3px 3px 1px #1869ff;
            transition: background 0.2s linear;

            span {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    font-size: 18px;
                    margin: 0 2px 1px 1px;
                    width: auto;
                }
            }

            &:hover {
                color: #1869ff;
                border-color: #1869ff;
                transition: all 0.2s linear;
            }
        }
    }

    .ChevIcon {
        position: absolute;
        bottom: 4%;
        left: 46%;

        svg {
            margin: 0;
            width: 30px;
            height: 30px;
            padding: 4px;
            border-radius: 50%;
            padding-top: 6px;
            transition: border-color 0.2s linear;
            border: 1px solid white;

            &:hover {
                border-color: #1869ff;
                transition: border-color 0.2s linear;
            }
        }
    }
}
