// ---------------------------------------- COLORS
// 1. Light Mode
// 1.1 background color bcg-primary-l
$bcg-primary-l: #f7f9f9;
// 1.2 background color bcg-secondary-l
// 1.3 grey line
$line-primary-l: #dae0e8;
// 1.3 blue
$blue-l: #1869ff;
// 2. Dark Mode
// 2.1 background color bcg-primary-d
// 2.2 background color bcg-secondary-d

// ---------------------------------------- FONTS
$gt: "GT Walsheim Pro";
$av: "Avenir-Roman";
$sa: "Sailec-Medium";
$sa-l: "Sailec-Light";
$dm: "DM Sans";
$lo: "Lora";
$po: "Poppins";

// ---------------------------------------- FONT-COLORS
$fc-primary-l: #6c767c;
$fc-secondary-l: #031b4e;
